<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" >
    <form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="submit()" (ngReset)="reiniciarForm()">
      <mat-card-content>
          <input-text titulo="Título *" [formGroup]="cadastro" controlName="titulo"></input-text>
          <input-text titulo="URL FOTO *" [formGroup]="cadastro" controlName="urlFoto"></input-text>
          <input-date titulo="Data de Lançamento*" [formGroup]="cadastro" controlName="dtLancamento"></input-date>
          <input-textarea titulo="Descrição" [formGroup]="cadastro" controlName="descricao"></input-textarea>
          <input-number titulo="Nota IMDb*" [formGroup]="cadastro" step="0.1" controlName="nota"></input-number>
          <input-text titulo="Link IMDb" [formGroup]="cadastro" controlName="urlIMDb"></input-text>
          <input-select titulo="Gênero*" [opcoes]="generos" [formGroup]="cadastro" controlName="genero"></input-select>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" color="accent" mat-raised-button>Salvar</button>
          <button type="reset" color="warn" mat-raised-button>Cancelar</button>
        </mat-card-actions>
      </form>
  </mat-card>
</div>
