<div [formGroup] = "formGroup">
  <mat-form-field class="full-width">
    <input matInput
    [placeholder]="titulo"
    [min]="minimo"
    [max]="maximo"
    [step]="step"
    type="number"
    [name]="controlName"
    [formControlName]="controlName">
  </mat-form-field>
  <mat-error *ngIf="validacao.hasErrorValidar(formControl,'required')">Campo requerido</mat-error>
  <mat-error *ngIf="validacao.hasErrorValidar(formControl,'min')">Campo precisa ter no mínimo o valor 0</mat-error>
  <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'max')">Campo pode ter no máximo o valor 10</mat-error>
</div>
